@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>skriv user og repo navn</p>




@if (commits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var commit in commits)
            {
                <tr>
                    <td>@commit.date.ToShortDateString()</td>
                    <td>@commit.count</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    
    
    private committest[]? commits;

    protected override async Task OnInitializedAsync()
    {
        commits = await Http.GetFromJsonAsync<committest[]>($"Repository/Megetskuffet/test");
    }
    
    
    public class committest
    {
        public DateTime date { get; set; }
        public int count { get; set; }
    }
    
}
